.Infos h1,
.Infos h2,
.Infos p {
    text-align: center;
}

.Infos {
    text-align: center;
    margin: auto;
}

.Infos img {
    width: 20%;
    min-width: 200px;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
}

.Infos input {
    background-color: #BE72A4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: .25rem;
    margin-right: 10px;
}

.Infos .ctn {
    width: 80%;
    margin: auto;
}

.Infos p {
    margin-bottom: 20px;
}

.Infos .delete-btn, .Infos .edit-btn {
    background-color: #BE72A4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: .25rem;
    margin-right: 10px;
    text-decoration: none;
    font-size: 13px;
}

.back-drop {
    width: 100%!important;
}