/* Edit Form */

.EditForm form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.EditForm form>input {
    padding: 10px;
}

.EditForm input, .EditForm textarea {
    border: none;
    background: white;
    border-radius: .25rem;
    margin-bottom: 20px;
}

.EditForm textarea {
    height: 100px;
}

.EditForm input[type="submit"] {
    background-color: hotpink;
    color: white;
}

.EditForm h1 {
    text-align: center;
}

.EditForm label {
    margin-bottom: 10px;
}