.StepTwoAddMovie form {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

.StepTwoAddMovie form>input {
    -webkit-box-flex: 1;
    flex: 1 1 10ch;
    margin: .5rem
}

.StepTwoAddMovie form>input[type="email"] {
    -webkit-box-flex: 3;
    flex: 3 1 30ch;
}

.StepTwoAddMovie input {
    border: none;
    background: hsl(0, 0%, 93%);
    border-radius: .25rem;
    padding: .75rem 1rem
}

.StepTwoAddMovie input[type="submit"] {
    background: hotpink;
    color: white;
}

.StepTwoAddMovie h1 {
    text-align: center;
}