.StepTwoAddMovie form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.StepTwoAddMovie form>input {
    padding: 10px;
}

.StepTwoAddMovie input, .StepTwoAddMovie textarea {
    border: none;
    background: hsl(0, 0%, 93%);
    border-radius: .25rem;
    margin-bottom: 20px;
}

.StepTwoAddMovie textarea {
    height: 100px;
}

.StepTwoAddMovie input[type="submit"] {
    background-color: hotpink;
    color: white;
}

.StepTwoAddMovie h1 {
    text-align: center;
}

.StepTwoAddMovie label {
    margin-bottom: 10px;
}