.Movie input {
    background-color: #BE72A4;
    color: white;
    padding: 5px;
    border: none;
    border-radius: .25rem;
}

.Movie p {
    font-size: 15px;
}

.Movie .wrapper {
    text-align: center;
}

.Movie .delete-btn {
    margin-left: 10px;
}

.Movie img {
    min-width: 182px;
}

.Movie a {
    background-color: #BE72A4;
    color: white;
    padding: 5px;
    border: none;
    border-radius: .25rem;
    font-size: 13px;
    text-decoration: none;
}