.Movie input {
    background-color: #BE72A4;
    color: white;
    padding: 5px;
    border: none;
    border-radius: .25rem;
}

.Movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Movie p {
    font-size: 15px;
    color: white
}

.Movie .wrapper {
    text-align: center;
}

.Movie .delete-btn {
    margin-left: 10px;
}

.Movie img {
    min-width: 182px;
}