.Filter form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Filter form>input {
    flex: 1 1 10ch;
    margin: .5rem
}

.Filter form>input[type="email"] {
    flex: 3 1 30ch;
}

.Filter input {
    border: none;
    background: hsl(0, 0%, 93%);
    border-radius: .25rem;
    padding: .75rem 1rem
}

.Filter input[type="submit"] {
    background: hotpink;
    color: white;
}

.Filter h1,
.Filter h2 {
    text-align: center;
}