.SearchResult .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

@media screen and (max-width: 600px) {
    .SearchResult .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.SearchResult .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 500px;
}

.SearchResult img {
    width: 50%;
}

.SearchResult .delete-btn {
    background-color: red;
}

.SearchResult .edit-btn {
    background-color: green;
    margin-right: 20px;
}

.SearchResult .edit-btn, .SearchResult .delete-btn {
    list-style-type: none;
    outline: 0;
    cursor: pointer;
    padding: 5px;
    color: white;
    border-radius: 50px;
    border: none;
}