@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
}

.addMovieLink {
    text-align: center;
    display: block;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

